extends layout

block content
  .event-content
    h1 Fun Finder
    .columns-8
      h2.title
      h3.start-time Date
      br
      //- .main-image
      p.description
      br
      br
      p For more information, visit:
      a.website(href='')
    .columns-4
      button(id='save-fav') ❤ &nbsp;Save This Event
      p.small 
        a(href='/favorites') View all your saved events.
      #map-canvas
      p.venue-address.event-address 
        br
        | Denver, Colorado
        
  .row-button
    div.button
      button(id="button grad transition") Explore
  br
  a(href="/" class="backButtonEvents")<<< Back To Home
  p.hidden #{events}
  p.hidden(class='latitude')
  p.hidden(class='longitude')
     
