extends layout

block content
  h2.title
  br
  p.description
  br
  div.button
    button(id="button grad transition") Explore
  br
  p.hidden #{events}
  div.heart
  h2 Click the heart to like/unlike
  div.heart ❤
