extends layout

block content
  .event-content
    .columns-8
      h2.title
      .date-section
        p
        h3.start-time Date
        br
        br
        p 
      br
      br
      //- .main-image
      p.description
      br
      br
      p For more information:
      a.website(href='')
    .columns-4
      button(id='save-fav') ❤ Save This Event
      #map-canvas
        //- img(src='../images/demo-map.jpg')
      p.venue-address 
        br
        | Denver, Colorado
        br
        br
        | Sunday, July 20, 2015 @ 6:00pm
        br
        br 
      p.venue-address 
  .row-button
    div.button.event
      button(id="button grad transition") Explore
  br
  p.hidden #{events} 
  p.hidden(class="latitude")
  p.hidden(class="longitude")
     
