extends layout

block content
  .event-content
    .columns-8
      h2.title
      .date-section
        p
        h3.start-time Date
        br
        br
        p 
      br
      br
      .main-image
      p.description
      br
      br
      p For more information, www.somewebsite.com.
      
    .columns-4
      button(id='save-fav') ❤ Save This Event
      
      .map
        img(src='../images/demo-map.jpg')
      
      p.venue-address 
        
  div.button.event
    button(id="button grad transition") Explore
<<<<<<< HEAD
  br
  p.hidden #{events}
  div.heart
  h2 Click the heart to like/unlike
  div.heart ❤
=======
    br
    p.hidden #{events}
    
    
    
    
    
    
    
//
>>>>>>> 94eea47d13330326d0302aa5ea3c9cc2bae8f4d2
