extends layout

block content
  .event-content
    .columns-8
      h2.title
      .date-section
        p
        h3.start-time Date
        br
        br
        p 
      br
      br
      .main-image
      p.description
      br
      br
      p For more information, www.somewebsite.com.
    .columns-4
      button(id='save-fav') ❤ Save This Event
      .map
        img(src='../images/demo-map.jpg')

      p.venue-address 
        br
        | Denver, CO 81301
        br
        br
        | Sunday, July 20, 2015 @ 6:00pm
        br
        br 
      p.venue-address 
        
  div.button.event
    button(id="button grad transition") Explore


  br
  p.hidden #{events}
