extends layout

block content
  header
    .container
      .title
        h1.denverFun Denver Fun Finder
        form(method="post" action="/events")
    .container
      .login-create
        if user
          p Hello, #{user}
          a(href="/logout") Logout
        else
          .login
            a(href="/login") Login
          .create
            a(href="/create-account") Create Account
  main
      .container
        .form
          form(method="get" action="/events")
            .row
              .label City 
                label(for='city')
                .inout
                  input(type='text' id='city' name='city')
              .category(style='background-image: url(/images/outdoors.jpeg); background-size: cover;')
                .label
                  label(for="outdoors") Outdoors
                .input
                  input(type="checkbox" name="outdoors" id="outdoors" hidden)
              .category(style='background-image: url(/images/nightlife.jpeg); background-size: cover;')
                .label
                  label(for="nightLife") Night Life 
                .input
                  input(type="checkbox" name="nightLife" id="nightLife" hidden)
              .category(style='background-image: url(/images/arts.jpeg); background-size: cover;')
                .label
                  label(for="arts") Arts
                .input
                  input(type="checkbox" name="arts" id="arts" hidden)
              .category(style='background-image: url(/images/familyFun.jpeg); background-size: cover;')
                .label
                  label(for="family") Family
                .input
                  input(type="checkbox" name="family" id="family" hidden)
            .row
              p Select your categories!
              p.hidden #{info}
              div(ontouchstart="")
            .row-button
              div.button
                button(type="submit" id="button grad transition") Explore!
