html {
  background: #404E5C;
  margin-top: 50px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #B7C3F3;
  margin: 0;
}

header {
  height: auto;
}

p {
  color: #404E5C;
  font-size: 20px;
}

.venue-address, .date-section {
  color: #404E5C;
}

a {
  color: #00B7FF;
}

.hidden {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
}

.denverFun {
  /*position: absolute;*/
  width: 100%;
  text-align: center;
  font-family: helvetica;
  color: #404E5C;
  font-size: 65px;
  /*z-index: 1000;*/
  position: relative;
}

.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: helvetica;
  font-size: 43px;
  color: #404E5C;
}

h1 {
  color: #404E5C;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container .login-create {
  /*padding-top: -400px;*/
  display: inline-block;
  position: absolute;
}

.container {
  /*margin: 0 auto;
  width: 80%;
  height: auto;*/
}

.login-create {
  width: 40%;
  margin: 0 auto;
  text-align: right;
  padding-left: 800px;
  display: inline-block;

}

.login {
  width: 30%;
  text-align: right;
  display: inline-block;
}

.row-button {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: -60px;
}

.create {
  width: 30%;
  text-align: right;
  display: inline-block;
}

.form {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.category {
  margin: 0 auto;
  opacity: 0.65;
  border: 5px solid #B7C3F3;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  width: 16%;
  height: 150px;
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
}

.category:hover {
  opacity: 1.0;
  border: 5px solid #EF8E16;
}


.label {
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  color: #FEFEFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.row .label {
  margin-top: 100px;
}

/*.row-button .button button {
  margin-top: 100px;
}*/

.row {
  margin-top: 100px;
  clear: both;
  text-align: center;
  padding-top: 25px;
  font-size: 3em;
  color: #064E86;
}

.row p {
  margin: 0 0;
}

h1 span {
  font: 68px Monaco, MonoSpace;
  height: 400px;
  position: absolute;
  width: 25px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.button {
  /*position: relative;*/
  display: inline-block;
  top: 120px;
  outline: none;
  margin-bottom: 79px;
}

.button button{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  outline: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button button:active{
  top:10px;
  background-color:#F78900;
  outline: none;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.event-content {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 25px 15px 25px 25px;
}

.columns-8, .columns-4 {
  /*border: 1px solid black;*/
  display: inline-block;
  vertical-align: top;
  min-height: 400px;
}

.columns-8 {
  width: 66%;
  margin-right: 2%;
}

.columns-4 {
  width: 31%;
  background-color: rgba(255, 255, 255, 0.2)
}

.date-section {
  display: inline-block;
  width: 75%;
  margin-right: 2%;
  /*border: 1px solid black;*/
}

.category-section {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: right;
  text-transform: uppercase;
  /*border: 1px solid black;*/
}

.event-content h2.title {
  padding-left: 0px;
  margin-bottom: 1%;
}

.main-image {
  display: inline-block;
  float: right;
  margin: 2%;
  width: 40%;
  height: 200px;
  background-color: lightgray;
  border: 3px solid white;
}

.address {
  margin-left: 5%;
}


#save-fav {
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:20px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:10px 20px;
  width: 86%;
  margin: 10% 7%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#map-canvas {
  width: 86%;
  height: 350px;
  margin: 2% 7% 10%;
  border: 3px solid white;
}

.createTitle {
  font-size: 50px;
}

.backButtonEvents {
  padding-left: 25px;
  color: #404E5C;
  /*padding-bottom: 500px;*/
  position: relative;
  bottom: 50px;
}

.back {
  padding-left: 20px;
  bottom: 20px;
}

a {
  color: #2176FF;
}
