* {
  box-sizing: border-box;
}

html {
  /*background: #404E5C;*/
  /*margin-top: 50px;*/
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #B7C3F3;
  margin: 0;
}

header {
  height: auto;
}

p {
  color: #404E5C;
  font-size: 20px;
}

.venue-address, .date-section {
  color: #404E5C;
}

a {
  color: #00B7FF;
}

.hidden {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
}

.denverFun {
  /*position: absolute;*/
  width: 100%;
  text-align: center;
  font-family: helvetica;
  color: #404E5C;
  font-size: 65px;
  /*z-index: 1000;*/
  position: relative;
}

.title {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: helvetica;
  font-size: 43px;
  color: #404E5C;
}

h1 {
  color: #404E5C;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container .login-create {
  margin-top: -90px;
  margin-left: 70px;
  position: relative;
  display: block;
}


.container {
  margin: 0 auto;
  width: 85%;
}

.login-create {
  width: 100%;
  margin: 0 auto;
  text-align: right;
  display: inline-block;

}

.login {
  width: 10%;
  text-align: right;
  display: inline-block;
}

.row-button {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: -60px;
}

.create {
  width: 10%;
  text-align: right;
  display: inline-block;
}

.form {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.category {
  margin: 0 auto;
  opacity: 0.65;
  border: 5px solid #B7C3F3;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  width: 16%;
  height: 150px;
  background-color: blue;
  margin-left: 5px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
}

.category:hover {
  opacity: 1.0;
  border: 5px solid #EF8E16;
}


.label {
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  color: #FEFEFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.row .label {
  margin-top: 100px;
}

/*.row-button .button button {
  margin-top: 100px;
}*/

.row {
  margin-top: 100px;
  clear: both;
  text-align: center;
  padding-top: 25px;
  font-size: 3em;
  color: #064E86;
}

.row p {
  margin: 0 0;
}

h1 span {
  font: 68px Monaco, MonoSpace;
  height: 400px;
  position: absolute;
  width: 25px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

.button {
  position: relative;
  display: inline-block;
  top: 120px;
  outline: none;
  margin-bottom: 79px;
}

.button button{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  outline: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button button:active{
  top:10px;
  background-color:#F78900;
  outline: none;

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.event-content, .fav-content {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px 10px 20px 20px;
  border-top: 50px solid #B7C3F3;
  margin: 0 4%;
}

.event-content h1, .fav-content h1 {
  text-align: center;
  margin-top: -25px;
  margin-bottom: 15px;
  font-size: 3.5em;
}

.event-content h2 {
  margin-top: 2%;
  text-align: left;
}

.event-content {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 25px 15px 25px 25px;
}

.columns-8, .columns-4 {
  display: inline-block;
  vertical-align: top;
  min-height: 400px;
}

.columns-8 {
  width: 62%;
  margin-right: 2%;
}

.columns-4 {
  width: 34%;
  background-color: rgba(255, 255, 255, 0.25)
}

/*.main-image {
  display: inline-block;
  float: right;
  margin: 2%;
  width: 40%;
  height: 200px;
  background-color: lightgray;
  border: 3px solid white;
}*/

.event-address {
  margin: 0 0 10% 5%;
}


#save-fav {
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:20px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:10px 20px;
  width: 86%;
  margin: 10% 7% 5%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#map-canvas {
  width: 86%;
  height: 350px;
  margin: 2% auto 10%;
  border: 3px solid white;
}

.createTitle {
  font-size: 50px;
  position: relative;
}

/*********/
.fav-row:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.25);
}

.fav {
  display: inline-block;
  vertical-align: top;
  min-height: 260px;
  margin-bottom: 2%;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.fav h2 {
  padding-left: 2%;
}

.fav:nth-child(3) {
  padding: 2%;
}

.num-favs {
  font-size: 1.5em;
}

.columns-10, .columns-2 {
  display: inline-block;
  vertical-align: top;
}

.columns-2 {
  width: 18%;
  margin: 10px 2% 0 0;
  padding: 4px 0 0 2%;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.columns-10 {
  width: 75%;
  margin-right: 2%;
}

.columns-10 .inner {
  margin-top: -20px;
}

.columns-10 #delete {
  color:white;
  font-size:10px;
  text-decoration:none;
  background-color: firebrick;
  display: block;
  float: right;
  margin-top: -15px;
  padding: 5px;
  width: 15%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow:inset 0 1px 0 firebrick, 0 5px 0 #600;
  -moz-box-shadow:inset 0 1px 0 firebrick, 0 5px 0 #600;
  box-shadow:inset 0 1px 0 firebrick, 0 5px 0 #600;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.fav.columns-4 button#save-fav {
  width: 100%;
  margin: 40px auto 50px;
  padding: 15px 25px;
  font-size: 2em;
}

.fav.columns-4 button#save-fav a {
  color: white;
  text-decoration: none;
}

.columns-4 p.small a {
  display: block;
  font-size: 0.875em;
  color: black;
  text-align: center;
}

.backButtonEvents {
  padding-left: 25px;
  color: #404E5C;
  /*padding-bottom: 500px;*/
  position: relative;
  bottom: 50px;
  color: #0000CC;
}

.back {
  /*bottom: 20px;*/
  color: #0000CC;
  display: inline-block;
  margin-left: -85px;
  margin-top: -100px;
}

a {
  color: #0000CC;
}

.labelCity .input {
  position: relative;
  padding-bottom: 30px;
  font-size: 28px;
}

.username, .usernameInput, .password, .passwordInput, .confirm, .confirmInput, .form{
  /*display: inline-block;*/
  /*margin-top: -180px;*/

}

.password, .passwordInput {

}
