extends ../layout

block content
  header
    .container
      .title
        h1.createTitle Fun Finder
        if user
          .logout
            a(href='/logout') Logout
  main
      if errors
        .container
          ul
            each error in errors
              li= error
      .containerLogin
        .formCreate
          form(method="post" action="/create-account")
            .rowCreate
              .label
                label.username(for="username") Username
              .input
                if data
                  input.usernameInput(type="text" name="username" id="username" value=data.username)
                else
                  input(type="text" name="username" id="username")
            .rowCreate
              .label
                label.password(for="password") Password
              .input
                input.passwordInput(type="password" name="password" id="password")
            .rowCreate
              .label
                label.confirm(for="confirm") Confirm Password
              .input
                input.confirmInput(type="password" name="confirm" id="confirm")
            .row
              .button
                button.loginButton(type="submit" value="Create Account") Create Account
                p
            a.back(href="/")<<< Back To Home
