extends ../layout

block content
  header
    .container
      .title
        h1.createTitle Fun Finder
        if user
          .logout
            a(href='/logout') Logout
  main
      if errors
        .container
          ul
            each error in errors
              li= error
      .containerLogin
        .form
          form(method="post" action="/login")
            .rowCreate
              .label
                label(for="username") Username
              .input
                if data
                  input(type="text" name="username" id="username" value=data.username)
                else
                  input(type="text" name="username" id="username")
            .rowCreate
              .label
                label(for="password") Password
              .input
                input(type="password" name="password" id="password")
            .row-updated
              .button-create
                button.loginButton(type="submit" value="Login") Login
                p
            a.back(href="/")<<< Back To Home
